.services {
    text-align: center;
    background-color: #444444;
    padding-top: 100px;
    padding-bottom: 120px;
}

.services h3 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #BFE1A4;
    margin: 0;
    padding: 0;
}

.services h2 {
    font-size: 48px;
    text-transform: uppercase;
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 48px;
    padding: 0;
}

.services > .row {
    display: flex;
    justify-content: space-around;
}