.iconH4 {
    color: #BFE1A4;
    margin-bottom: 8px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
}

.iconP {
    color: white;
    font-size: 16px;
}

.iconSpan {
    background-color: #cccccc;
    width: 112px;
    height: 112px;
    display: inline-block;
    border-radius: 50%;
    font-size: 36px;
    line-height: 105px;
}