header {
    margin: 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-top: 150px;
    font-size: 4rem;
    color: #282c34;
}

header p {
    font-weight: 700;
    font-size: 1.75rem;
    color: #282c34;
}

header a {
    box-shadow: 0 3px 3px 0 black;
    font-weight: 700;
    background-color: darkgray;
    background-color: darkgray;
    color: white;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: .25rem;
    display: inline-block;
}